@mixin sizeControl{
  -webkit-appearance: none;
  flex-basis: 30%;
  height: 50px;
  background-color: $order-size-radio-color;
}

@mixin colorControl{
  -webkit-appearance: none;
  flex-basis: 20%;
  height: 50px;

}

@mixin textForm{

}

@mixin button{
  height: 50px;
  background-color: $checkout-button-background-color;
  color: $checkout-button-font-color;
  font-size: 1.25rem;

}