body{
  font-family: Tahoma, Arial, sans-serif;
}

h1{
  font-size: 3rem;
}

h2{
  font-size: 2rem;
}

h3{
  font-size: 1.5rem;
  font-weight: lighter;
}


//----Order Form----
legend{
  font-size: 1.25rem;
  font-weight: bold;

}

#order-shirt-price{
  font-size: 2rem;
  font-weight: lighter;
}


//-----Shipping Details----
label{
  font-size: 1.1rem;
  font-weight: bold;
}

.checkout:nth-of-type(2) > label{
  color: $checkout-inactive-color;
  font-weight: lighter;
  font-size: 1.2rem;
}

input, select{
  font-size: 1.25rem;
}
.checkout > input {
  font-size: 1rem;
}

#checkout-product-name{
  font-size: 1.1rem;
  font-weight: lighter;
}

.error{
  color: $shipping-form-error-color;
}
