$form-heading-font-color: #000;

$order-background-color: #FEFFFF;

$order-size-radio-color: #DADBDD;
$order-size-legend-font-color: #454546;
$order-size-radio-font-color: #000;


$order-color-radio-green: white;
$order-color-radio-red: #E64C4D;
$order-color-radio-black: #454546;
$order-color-radio-blue: #2693D6;

$shipping-background-color: #EFF0F1;
$shipping-form-color: #EAEBED;
$shipping-form-font-color: #454546;

$checkout-background-color: #E3E4E6;
$checkout-button-background-color: #22A456;
$checkout-button-font-color: #EFF0F1;